body {
  background-color: black; }

.button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.note, #c, #d, #e, #f, #g, #a, #b {
  height: 150px;
  width: 50px;
  font-size: 26px;
  margin: 2px;
  color: black; }

.note:focus, #c:focus, #d:focus, #e:focus, #f:focus, #g:focus, #a:focus, #b:focus {
  outline: 0; }

.note:active, #c:active, #d:active, #e:active, #f:active, #g:active, #a:active, #b:active {
  transform: translateY(3px); }

#c {
  border: 1px solid red;
  box-shadow: 0 0 1px 1px red;
  text-shadow: 0 0 3px white;
  background-color: #422424;
  opacity: 1; }

#d {
  border: 1px solid orange;
  box-shadow: 0 0 1px 1px orange;
  text-shadow: 0 0 3px white;
  background-color: #423824;
  opacity: 1; }

#e {
  border: 1px solid yellow;
  box-shadow: 0 0 1px 1px yellow;
  text-shadow: 0 0 3px white;
  background-color: #424224;
  opacity: 1; }

#f {
  border: 1px solid green;
  box-shadow: 0 0 1px 1px green;
  text-shadow: 0 0 3px white;
  background-color: #244224;
  opacity: 1; }

#g {
  border: 1px solid blue;
  box-shadow: 0 0 1px 1px blue;
  text-shadow: 0 0 3px white;
  background-color: #242442;
  opacity: 1; }

#a {
  border: 1px solid purple;
  box-shadow: 0 0 1px 1px purple;
  text-shadow: 0 0 3px white;
  background-color: #422442;
  opacity: 1; }

#b {
  border: 1px solid pink;
  box-shadow: 0 0 1px 1px pink;
  text-shadow: 0 0 3px white;
  background-color: #422429;
  opacity: 1; }
